.classmate-detail-wrapper{
    width: 100%;
    background: linear-gradient(to left bottom, #5f4d93, #e67777);
    text-align: left;
}
.classmate-detail-wrapper .container{position: relative;}
.paper{
    width: 700px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -350px;
    top: 100px;
    background-color: white;
    border-radius: 5px;
}
.avatar{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 20px;
}
.paper-header a{text-decoration: none;}
.paper-header h3{
    width: 3em;
    color: #e37682;
    opacity: 0.8;
    font-weight: bold;
    position: absolute;
    left: 120px;
    top: 10px;
 }
.paper-header h3:hover{
    color: #e37682;
    opacity: 1;
}

.paper-header h6{
    color: #3c3c3c;
    opacity: 0.6;
    position: absolute;
    left: 120px;
    top: 60px;
}
#delete2{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 30px;
    top: 20px;
}
.paper-content{
    padding-top: 120px;
    padding-left: 40px;
    padding-right: 40px;
}
.paper-content p{
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 1.2em;
    line-height: 1.8em;
}

.navigation{
    color: white;
    height: 70px;
    margin-top: 100px;
    line-height: 3em;
    text-align: center;
    font-size: 1.7em;
}
.pre{background-color: #e37682;}
.photo-wall{background-color: #be6b87;}
.comment-wall{background-color: #7d568f;}
.next{background-color: #5f4d93;}

/*留言墙*/
#comment-wrapper{
    width: 700px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -350px;
    top: 100px;
    background-color: white;
    border-radius: 5px;
}
.comment-content{
    padding-left: 50px;
    padding-right: 50px;
}
#comment-header{margin-bottom: 50px;}
#comment-wrapper h3{color: #e67777;}
#comment-wrapper a{text-decoration: none;}
/*输入框获得焦点*/
#my-comment:focus {
    border-color: #e67777;
    -moz-box-shadow: 0 0 10px #e67777;
    -webkit-box-shadow: 0 0 10px #e67777;
    box-shadow: 0 0 10px #e67777;
}
.input-group .form-control{z-index: 0!important;}
#send-comment{
    color: white;
    background-color: #e67777;
    opacity: 0.9;
    border: 1px solid #e67777;
    z-index: 0;
}
#send-comment:hover{opacity: 1;}

.liner{
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
    background: linear-gradient(to right, #5f4d93, #e67777);
    background: -moz-linear-gradient(to right, #5f4d93, #e67777);
    background: -o-linear-gradient(to right, #5f4d93, #e67777);
    background: -webkit-linear-gradient(to right, #5f4d93, #e67777);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f4d93', endColorstr='#e67777', GradientType=1); /*IE9*/
}
.comment{position: relative}
.comment-avatar{
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: -70px;
}
.other-comment{
    margin-left: 70px;
}
.write-author{
    color: #e67777;
    font-weight: 500;
    opacity: 0.8;
}
.write-author:hover{opacity: 1;}
.write-time{color: #7f7f7f}

/*邀请同学填写模态框 与删除模态框*/
#invite-modal,#delete-modal,#paper-delete-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(250,250,250,0.6);
    position: fixed;
    z-index: 100;
    top: 0;
}
.invite-modal-content{
    width: 600px;
    height: 450px;
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    margin-top: -225px;
    left: 50%;
    margin-left: -300px;
    text-align: center;
    box-shadow: 0 0 10px #e67777!important;
}
.invite-modal-content-in{
    animation: invite-modal-content-in 1s ease;
}
@keyframes invite-modal-content-in {
    from{
        margin-top: -400px;
        opacity: 0;
    }
    to{
        margin-top: -225px;
        opacity: 1;
    }
}
/*关闭图标*/
#invite-close{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 540px;
    margin-top: -60px;
    opacity: 0.8;
}
#write-address{
    color: #e67777;
    text-decoration:underline;
    font-size: 1.3em;
}
#qr-code{
    width: 200px;
    height: 200px;
}
#invite-modal h5{
    color: #3c3c3c;
    font-size: 1.4em;
    margin-top: 30px;
}
#copy{
    width: 100%;
    color: white;
    font-size: 1.2em;
    background: linear-gradient(to right, #5f4d93, #e67777);
    border: 0;
    box-shadow: 0 0 10px #c16b7f;
    margin-top: 20px;
}

/*编辑同学录模态框*/
.edit-myclassmate-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(250,250,250,0.5);
    position: fixed;
    top: 0;
    z-index: 100;
}
.edit-myclassmate-title{
    color: #5c5c5c;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#edit-myclassmate-close{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 440px;
    margin-top: -40px;
    opacity: 0.8;
}
#edit-myclassmate-close:hover{opacity: 1;}
.edit-myclassmate-content{
    width: 500px;
    background-color: white;
    position: fixed;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -250px;
    border-radius: 5px;
    box-shadow: 0 0 10px #e67777!important;
}
/*渐入效果*/
.edit-myclassmate-content-in{
    animation: edit-myclassmate-content-in 0.7s;
}
@keyframes edit-myclassmate-content-in{
    from{
        opacity: 0;
        margin-top: -350px;
    }
    to{
        opacity: 1;
        margin-top: -250px;
    }
}

.edit-myclassmate-body{
    height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*上传图片的input设置透明*/
#cover{opacity: 0;}
.edit-myclassmate-body a{
    color: #e67777;
    font-size: 1.2em;
    position: absolute;
    margin-top: -20px;
    z-index: -1;
}
label{text-align: right;}
.edit-myclassmate-content .col-sm-3{
    padding-right: 0;
    color: #5c5c5c;
}
/*输入框获得焦点*/
.glowing:focus {
    border-color: #e67777;
    -moz-box-shadow: 0 0 10px #e67777;
    -webkit-box-shadow: 0 0 10px #e67777;
    box-shadow: 0 0 10px #e67777;
}
textarea{resize:none;}
textarea:focus{
    border-color: #e67777!important;
    -moz-box-shadow: 0 0 10px #e67777!important;
    -webkit-box-shadow: 0 0 10px #e67777!important;
    box-shadow: 0 0 10px #e67777!important;
}
.permission{color: #5c5c5c}
.permission input:focus{box-shadow: 0 0 0 ;}
.edit-btn{
    margin-top: 50px;
    margin-bottom: 20px;
}
#sure-edit{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.2em;
    background: linear-gradient(to right, #5f4d93, #e67777);
    border: 0;
    box-shadow: 0 0 10px #c16b7f;
}

/*删除模态框*/
.delete-modal-content{
    width: 500px;
    height: 300px;
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    margin-top: -125px;
    left: 50%;
    margin-left: -250px;
    text-align: center;
    box-shadow: 0 0 10px #e67777!important;
}
.delete-modal-content-in{
    animation: delete-modal-content-in 1s ease;
}
@keyframes delete-modal-content-in {
    from{
        margin-top: -300px;
        opacity: 0;
    }
    to{
        margin-top: -125px;
        opacity: 1;
    }
}
#delete-close,#paper-delete-close{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 440px;
    margin-top: -60px;
    opacity: 0.8;
}
#sure-delete,#paper-delete{
    width: 100%;
    color: white;
    font-size: 1.2em;
    background: linear-gradient(to right, #5f4d93, #e67777);
    border: 0;
    box-shadow: 0 0 10px #c16b7f;
}