.photo-wall-wrapper{
    width: 100%;
    padding: 0;
    position: relative;
    background: linear-gradient(to left bottom, #5f4d93, #e67777);
}
#add-new-photo{
    width: 200px;
    position: absolute;
    top: 45px;
}
.photo-cntent{
    width: 100%;
    padding: 0;
    position: absolute;
    top: 150px;
}
.photo-wrapper{
    height: 400px;
    padding: 0;
    border: 0;
    overflow:hidden;
}
@media screen and (min-width: 1120px) {
    .photo-wrapper{height: 500px}
}
.myphoto{
    width:100%;
    height:100%;
    overflow:hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}

.photo-color{
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 100;
    transition: opacity 0.7s ease;
}
.photo-color:hover{
    animation: photo-color-hidden 1s ease;
    opacity: 0;
}

@keyframes photo-color-hidden  {
    from{opacity: 0.9;}
    to{opacity: 0;}
}

.show-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 100;
    text-align: center;
}
#large-photo{
    display: inline-block;
    position: relative;
    border-radius: 5px;
    top:50%;
    transform: translateY(-50%)!important;
    box-shadow:0 0 2px rgba(250, 250, 250, 0.4);
}

#photo-close{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 10px;
}

/*上传照片模态框*/
.upload-photo-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(250,250,250,0.5);
    position: fixed;
    top: 0;
    z-index: 1;
}
.upload-photo-title{
    color: #5c5c5c;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#upload-photo-close{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 440px;
    margin-top: -40px;
    opacity: 0.8;
}
#upload-photo-close:hover{opacity: 1;}
.upload-photo-content{
    width: 500px;
    background-color: white;
    position: fixed;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -250px;
    border-radius: 5px;
    box-shadow: 0 0 10px #e67777!important;
    text-align: center;
    max-height: 500px;
    overflow-y: auto;
}
/*渐入效果*/
.upload-photo-content-in{
    animation: upload-photo-content-in 0.7s;
}
@keyframes upload-photo-content-in{
    from{
        opacity: 0;
        margin-top: -350px;
    }
    to{
        opacity: 1;
        margin-top: -250px;
    }
}

.upload-photo-body{
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}
/*上传图片的input设置透明*/
#cover{
    width: 100%;
    opacity: 0;
    margin: 0;
}
.upload-photo-body a{
    width: 100%;
    text-align: center;
    color: #e67777;
    font-size: 1.2em;
    position: absolute;
    margin-top: -20px;
    z-index: -1;
}
#do-upload{
    width: 400px;
    height: 100%;
    color: white;
    font-size: 1.2em;
    background: linear-gradient(to right, #5f4d93, #e67777);
    border: 0;
    box-shadow: 0 0 10px #c16b7f;
    margin-top: 40px;
    margin-bottom: 40px;
}