<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>

<style>
	*{
		margin: 0;
		padding: 0;
	}
	body{
		background-image: url("../../../static/images/welcome_background.png");
		background-repeat: no-repeat;
		background-size: 100% 100% cover;
	}
	head{
		width: 100%;
		height: 50px;
	}
	#logo{
		width: 50px;
		height: 50px;
		margin-left: 10px;
		float: left;
	}
	h3{
		display: block;
		height: 50px;
		margin-left: 10px;
		color: white;
		float: left;
		line-height: 50px;
	}
</style>

</head>

<body>

<head>
	<a href="#"><img src="../../../static/images/logo1.png" alt="LOGO" id="logo"></a>
	<a href="#"><h3>一起同过窗</h3></a>
</head>

</body>
</html>
